Repository select2/select2, pull requests merged in 2019-08, with the labels that each got.

#5603 allowClear no longer shifts selections to a new line
  src/scss/theme/default/_multiple.scss
  tests/selection/allowClear-tests.js
Labels: 4.x, feature: multi-select, feature: selections, styling

#5602 The language option now has a clearly defined fallback chain
  src/js/select2/defaults.js
  src/js/select2/options.js
  tests/options/translation-tests.js
Labels: 4.x, status: pending PR merge

#5604 Update de.js
  src/js/select2/i18n/de.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge
