Repository select2/select2, pull requests merged in 2020-04, with the labels that each got.

#5823 Esperanto translation
  src/js/select2/i18n/eo.js
Labels: 4.x, feature: translation/i18n

#5815 Remove modules deprecated in 4.0.0
  Gruntfile.js
  docs/pages/03.configuration/01.options-api/docs.md
  src/js/select2/compat/containerCss.js
  src/js/select2/compat/dropdownCss.js
  src/js/select2/compat/initSelection.js
  src/js/select2/compat/inputData.js
  src/js/select2/compat/matcher.js
  src/js/select2/compat/query.js
  src/js/select2/compat/utils.js
  src/js/select2/defaults.js
  src/js/select2/dropdown/dropdownCss.js
  src/js/select2/options.js
  src/js/select2/selection/selectionCss.js
  src/js/select2/utils.js
  tests/data/inputData-tests.js
  tests/dropdown/dropdownCss-tests.js
  tests/options/deprecated-tests.js
  tests/selection/containerCss-tests.js
  tests/selection/selectionCss-tests.js
  tests/unit-jq1.html
  tests/unit-jq2.html
  tests/unit-jq3.html
Labels: 4.x, compatibility

#5834 Remove support for legacy IE
  src/js/jquery.select2.js
  src/js/select2/core.js
  src/js/select2/data/ajax.js
  src/js/select2/data/array.js
  src/js/select2/data/select.js
  src/js/select2/data/tags.js
  src/js/select2/data/tokenizer.js
  src/js/select2/defaults.js
  src/js/select2/dropdown/attachBody.js
  src/js/select2/dropdown/attachContainer.js
  src/js/select2/dropdown/dropdownCss.js
  src/js/select2/dropdown/search.js
  src/js/select2/options.js
  src/js/select2/results.js
  src/js/select2/selection/eventRelay.js
  src/js/select2/selection/multiple.js
  src/js/select2/selection/placeholder.js
  src/js/select2/selection/selectionCss.js
  src/js/select2/selection/single.js
  src/js/select2/utils.js
Labels: 4.x, compatibility

#5831 Added i18n: Punjabi language
  src/js/select2/i18n/pa.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#5775 JQuery "find" replaced with more efficient "querySelectorAll" in SelectAdapter
  src/js/select2/data/select.js
Labels: 4.x, performance, status: pending PR merge

#5766 Fix selection search resizeSearch on close
  src/js/select2/selection/search.js
Labels: 4.x, feature: search

#5839 Support the autocomplete attribute being set on the original <select>
  src/js/select2/defaults.js
  src/js/select2/dropdown/search.js
  src/js/select2/options.js
  src/js/select2/selection/search.js
  tests/dropdown/search-tests.js
  tests/options/element-tests.js
  tests/selection/search-tests.js
  tests/unit-jq1.html
  tests/unit-jq2.html
  tests/unit-jq3.html
Labels: 4.x

#5840 Change internal data ID generation to be more unique
  src/js/select2/utils.js
  tests/utils/data-tests.js
Labels: 4.x

#5841 Mark highlighted results with aria-selected
  src/js/select2/results.js
  src/scss/_dropdown.scss
  src/scss/theme/classic/layout.scss
  src/scss/theme/default/layout.scss
  tests/results/option-tests.js
Labels: 4.x, accessibility, feature: dropdown

#5842 Make the multi-select selection area more accessible
  src/js/select2/i18n/en.js
  src/js/select2/selection/allowClear.js
  src/js/select2/selection/multiple.js
  src/js/select2/selection/search.js
  src/scss/_multiple.scss
  src/scss/_single.scss
  src/scss/theme/classic/_multiple.scss
  src/scss/theme/classic/_single.scss
  src/scss/theme/default/_multiple.scss
  src/scss/theme/default/_single.scss
  tests/options/translation-tests.js
  tests/selection/search-placeholder-tests.js
Labels: 4.x, accessibility, feature: multi-select, feature: selections
