Repository select2/select2, pull requests merged in 2022-10, with the labels that each got.

#6175 Update Arabic Localization with removeItem
  src/js/select2/i18n/ar.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#6157 Add missing Traditional Chinese translations
  src/js/select2/i18n/zh-TW.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#6123 Update Turkish Localization with new items
  src/js/select2/i18n/tr.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#6162 Update docs.md
  docs/pages/15.upgrading/02.migrating-from-35/docs.md
Labels: documentation, 4.x, status: pending PR merge

#6131 Luxembourgish translation
  src/js/select2/i18n/lb.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#6153 Update Indonesian Localization translation
  src/js/select2/i18n/id.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge

#6079 Adding "originalEvent" to "close" trigger args.
  src/js/select2/results.js
Labels: 4.x, status: pending PR merge

#6179 Unselect events: cache lookup key fix
  src/js/select2/data/select.js
Labels: 4.x, status: pending PR merge

#6200 Fix Typo - word 'item' Brazilian Portuguese
  src/js/select2/i18n/pt-BR.js
Labels: 4.x, feature: translation/i18n, status: pending PR merge
